# this is the cluster config file template for SLURM clusters
# you can change them according to your own cluster settings.
# please use the long options for individual flags (eg. use --ntasks instead of -n)
__default__:
   time: "72:00:00"
   ntasks: 1
   job-name: DEF 
   mem: 4G
   partition: mem_0096 
   qos: mem_0096
   output: $(pwd)/log/slurm-%j.out
   error: $(pwd)/log/slurm-%j.err
fastqdump:
   job-name: FASTQD
   mem: 10G
   ntasks: 2
get_organelle:
   mem: 90G
   job-name: GETORG
   ntasks: 24
setup_mitoflex_db:
   job-name: sMFDB
mitoflex:
   job-name: MITOF
   ntasks: 24
   mem: 90G
norgal:
   job-name: NORGAL
   ntasks: 24
   mem: 90G
NOVOconfig:
   job-name: NOVOC
NOVOplasty:
   job-name: NOVOP
   mem: 90G
quast:
   job-name: QUAST
subsample:
   job-name: SUB
   mem: 90G
   ntasks: 24
trimmomatic:
   job-name: TRIM
   ntasks: 24
   mem: 90G
interleave:
   job-name: INTER
   mem: 10G
   ntasks: 2
MITObim:
   job-name: MITOB
   mem: 60G
   ntasks: 10  
roll:
   job-name: ROLL
reverse_complement:
   job-name: REVCOMP
align:
   job-name: ALIGN
second_mitos:
   job-name: MITOS2
gene_positions:
   job-name: GENPOS
mitos_ref_db:
   job-name: MITODB
mitos:
   job-name: MITOS
annotation_stats:
   job-name: ANNSTAT
gbk_prep:
   job-name: GBKPREP
CCT:
   job-name: CCT
report:
   job-name: report
   time: "00:10:00"
