# this is the cluster config file template for SLURM clusters
# you can change them according to your own cluster settings.
# please use the long options for individual flags (eg. use --ntasks instead of -n)
__default__:
   time: "72:00:00"
   ntasks: 1
   job-name: DEF 
   mem: 4G
   nodes: 1
   partition: mem_0096 
   qos: mem_0096
   output: $(pwd)/log/slurm-%j.out
   error: $(pwd)/log/slurm-%j.err
fastqdump:
   job-name: FASTQD
   mem: 10G
   ntasks: 2
get_organelle:
   mem: 90G
   job-name: GETORG
   ntasks: 24
setup_mitoflex_db:
   job-name: sMFDB
mitoflex:
   job-name: MITOF
   ntasks: 24
   mem: 90G
norgal:
   job-name: NORGAL
   ntasks: 24
   mem: 90G
NOVOconfig:
   job-name: NOVOC
NOVOplasty:
   job-name: NOVOP
   mem: 90G
   ntasks: 24
quast:
   job-name: QUAST
subsample:
   job-name: SUB
   mem: 10G
   ntasks: 24
trimmomatic:
   job-name: TRIM
   ntasks: 24
   mem: 10G
interleave:
   job-name: INTER
   mem: 10G
   ntasks: 2
MITObim:
   job-name: BIM
   mem: 90G
   ntasks: 24
mitos_ref_db:
   job-name: MITRDB
mitos:
   job-name: MITOS
remove_newline:
   job-name: RN
gene_positions:
   job-name: GPOS
annotation_stats:
   job-name: ANNS
roll:
   job-name: ROLL
align:
   job-name: ALIGN
second_mitos:
   job-name: SMITOS
gbk_prep:
   job-name: GBK
CGview:
   job-name: CGVIEW
CCT:
   job-name: CCT
all:
   job-name: ALL
