# you can change them according to your own cluster settings.
# this particular file was tested on the SGE cluster sauron of the University of Graz.
__default__:
   N: DEF 
   h_vmem: 4G
   o: $(pwd)/log/sge-%j.out
   e: $(pwd)/log/sge-%j.err
   pe: mpi1node
   q: mpi
fastqdump:
   N: FASTQD
   h_vmem: 10G
get_organelle:
   N: GETORG
   h_vmem: 4G
setup_mitoflex_db:
   N: sMFDB
mitoflex:
   N: MITOF
   h_vmem: 4G
norgal:
   N: NORGAL
   h_vmem: 4G
NOVOconfig:
   N: NOVOC
NOVOplasty:
   N: NOVOP
   h_vmem: 2G
quast:
   N: QUAST
subsample:
   N: SUB
   h_vmem: 4G
trimmomatic:
   N: TRIM
   h_vmem: 4G
interleave:
   N: INTER
   h_vmem: 10G
MITObim:
   N: MITOB
   h_vmem: 10G
mitos_ref_db:
   N: MITRDB
mitos:
   N: MITOS
annotation_stats:
   N: ANNS 
roll:
   N: ROLL
align:
   N: ALIGN
reverse_complement:
   N: REVCOMP
second_mitos:
   N: MITOS2
gene_positions:
   N: GENPOS
gbk_prep:
   N: GBKPREP
CCT:
   N: CCT
report:
   N: report
